<div class="container">
	<div class="row">
		<div class="col-md-offset-1 col-md-6">
			<h1>Pocket Silbermintz!</h1>
			<p>Builder of awesome things. Writer, geek, and lover of most things</p><br>

			<button onclick="location.href = 'https://docs.google.com/forms/d/1P6kXsEQLsCQT8fCEhga2lbB-t4kpq80uJTJwzt6azEY/viewform?usp=send_form';" id="myButton" class="btn btn-warning" >Buy His Book</button>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="https://d13pix9kaak6wt.cloudfront.net/avatar/users/p/o/c/pocket_1419807732_42.jpg">
			</div>
		</div>
	</div><br>
		<!-- LEFT PANEL -->
		<div class="col-md-offset-1 col-md-10">

		<!-- <div class="col-md-offset-2 col-md-8"> -->
			<div class="list-group">
					<!-- SEARCH TOOL -->
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon">
								<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
							</div>
				      		<input type="text" ng-model="searchQuestion" class="form-control" placeholder="Search">
				    	</div>
					</div>
					<div class="title">
						<a ng-show="signedIn()" href="#/post" class="btn btn-warning">Post A Question</a>
					</div>

					<!-- QUESTION LIST -->
					<div ng-repeat="question in questions | filter: searchQuestion | orderBy: 'datetime':true">
							<!-- <div class="well"> -->
							<div class="list-group-item">
								<div class="pull-left custom-list-item">
									<div class="row-picture">
											<img class="circle" ng-src="{{question.gravatar}}" >
									</div>
					        <div class="row-content">
					            <h4 class="list-group-item-heading"><a class="special-list-item" ng-href="#/questionview/{{question.$id}}#disqus_thread">{{question.title | limitTo:120}}{{ question.title.length > 120? "..." : ""}}</a></h4>
											<span class="list-group-item-text">
											 <span am-time-ago="question.datetime"></span>
												<!-- <span>{{question.datetime}}</span> -->
											</span>
											<!-- <span class="list-group-item-text">
					            	{{question.description}}
					            </span> -->
					        </div>
								</div>
									<!-- <br>
									<h6>comments </h6><h6 ng-click="">(xx) </h6>
									<h5>^</h5> -->
								<div class="pull-right">
									<a ng-show="signedIn()" href="" class="btn btn-primary">Reply!</a>
									 <h6>comments </h6><h6 ng-click="">(xx) </h6>
									 <div ng-click="upvoteQuestion(question)">^ {{question.rank}}</div>
								</div>

					    </div>
				    	<div class="list-group-separator"></div>
			    	</div>
			</div>

		</div>

	</div>
</div>
